# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import Google API key
from config import gkey

# Configure gmaps
gmaps.configure(api_key=gkey)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path) 

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Longyearbyen,SJ,78.2186,15.6401,40.84,93,75,5.75,broken clouds
1,1,Hobart,AU,-42.8794,147.3294,56.26,58,75,8.05,broken clouds
2,2,Hermanus,ZA,-34.4187,19.2345,55.80,85,2,4.97,clear sky
3,3,Airai,TL,-8.9266,125.4092,73.98,64,37,0.94,scattered clouds
4,4,Thompson,CA,55.7435,-97.8558,41.16,75,0,10.36,clear sky

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [6]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

**PLEASE NOTE** : This was taken from prior exercises - in the material - so I believe it is what is being asked for BUT the logic is flawed becasue you can't compare the the max temperature to find the min temperature. The dataset has no minimun temperature for the area in it per instructions.... This is a logic issue in the exercise material.

In [7]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Airai,TL,-8.9266,125.4092,73.98,64,37,0.94,scattered clouds
5,5,Saint-Philippe,RE,-21.3585,55.7679,74.79,81,63,13.15,light rain
6,6,Ponta Do Sol,PT,32.6667,-17.1000,70.43,82,21,6.22,few clouds
13,13,Port Hedland,AU,-20.3167,118.5667,80.65,47,0,13.80,clear sky
17,17,Puerto Ayora,EC,-0.7393,-90.3518,63.55,98,93,3.00,overcast clouds
19,19,Nchelenge,ZM,-9.3451,28.7340,68.45,65,28,5.99,scattered clouds
22,22,Surt,LY,31.2089,16.5887,76.73,84,12,17.40,few clouds
25,25,Vaini,TO,-21.2000,-175.2000,77.16,73,20,10.36,few clouds
28,28,Manadhoo,MV,5.7667,73.3833,80.35,78,94,15.10,overcast clouds
29,29,Arraial Do Cabo,BR,-22.9661,-42.0278,66.97,75,100,11.56,overcast clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [8]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()  

# Display sample data
clean_travel_cities.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Airai,TL,-8.9266,125.4092,73.98,64,37,0.94,scattered clouds
5,5,Saint-Philippe,RE,-21.3585,55.7679,74.79,81,63,13.15,light rain
6,6,Ponta Do Sol,PT,32.6667,-17.1000,70.43,82,21,6.22,few clouds
13,13,Port Hedland,AU,-20.3167,118.5667,80.65,47,0,13.80,clear sky
17,17,Puerto Ayora,EC,-0.7393,-90.3518,63.55,98,93,3.00,overcast clouds
19,19,Nchelenge,ZM,-9.3451,28.7340,68.45,65,28,5.99,scattered clouds
22,22,Surt,LY,31.2089,16.5887,76.73,84,12,17.40,few clouds
25,25,Vaini,TO,-21.2000,-175.2000,77.16,73,20,10.36,few clouds
28,28,Manadhoo,MV,5.7667,73.3833,80.35,78,94,15.10,overcast clouds
29,29,Arraial Do Cabo,BR,-22.9661,-42.0278,66.97,75,100,11.56,overcast clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [9]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp","Current Description","Lat", "Lng"]].copy()

# Display sample data
hotel_df

               City Country  Max Temp Current Description      Lat       Lng
3             Airai      TL     73.98    scattered clouds  -8.9266  125.4092
5    Saint-Philippe      RE     74.79          light rain -21.3585   55.7679
6      Ponta Do Sol      PT     70.43          few clouds  32.6667  -17.1000
13     Port Hedland      AU     80.65           clear sky -20.3167  118.5667
17     Puerto Ayora      EC     63.55     overcast clouds  -0.7393  -90.3518
..              ...     ...       ...                 ...      ...       ...
679         Autazes      BR     77.81    scattered clouds  -3.5797  -59.1306
680         Berasia      IN     84.65           clear sky  23.6333   77.4333
682        Ostuacan      MX     67.64     overcast clouds  17.4167  -93.3000
684    Vila Do Maio      CV     79.59       broken clouds  15.1333  -23.2167
685       Changqing      CN     85.66          few clouds  36.5575  116.7272

[388 rows x 6 columns]

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [10]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Airai,TL,73.98,scattered clouds,-8.9266,125.4092,
5,Saint-Philippe,RE,74.79,light rain,-21.3585,55.7679,
6,Ponta Do Sol,PT,70.43,few clouds,32.6667,-17.1000,
13,Port Hedland,AU,80.65,clear sky,-20.3167,118.5667,
17,Puerto Ayora,EC,63.55,overcast clouds,-0.7393,-90.3518,
...,...,...,...,...,...,...,...
679,Autazes,BR,77.81,scattered clouds,-3.5797,-59.1306,
680,Berasia,IN,84.65,clear sky,23.6333,77.4333,
682,Ostuacan,MX,67.64,overcast clouds,17.4167,-93.3000,
684,Vila Do Maio,CV,79.59,broken clouds,15.1333,-23.2167,
685,Changqing,CN,85.66,few clouds,36.5575,116.7272,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [11]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gkey
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [12]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [14]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Airai,TL,73.98,scattered clouds,-8.9266,125.4092,
5,Saint-Philippe,RE,74.79,light rain,-21.3585,55.7679,Le four à pain
6,Ponta Do Sol,PT,70.43,few clouds,32.6667,-17.1000,Hotel do Campo
13,Port Hedland,AU,80.65,clear sky,-20.3167,118.5667,The Esplanade Hotel
17,Puerto Ayora,EC,63.55,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
19,Nchelenge,ZM,68.45,scattered clouds,-9.3451,28.7340,KD Travellers Home
22,Surt,LY,76.73,few clouds,31.2089,16.5887,فندق المدينة
25,Vaini,TO,77.16,few clouds,-21.2000,-175.2000,Keleti Beach Resort
28,Manadhoo,MV,80.35,overcast clouds,5.7667,73.3833,Bon Abri maldives
29,Arraial Do Cabo,BR,66.97,overcast clouds,-22.9661,-42.0278,Pousada Porto Praia

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

**NOTE**: Some hotel names were empy and so the dropna function woudl not work properly. I added the **REPLACE** fuction to run prior to running the dropna function

In [15]:
hotel_df['Hotel Name'].replace('', np.nan, inplace=True)

In [17]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Saint-Philippe,RE,74.79,light rain,-21.3585,55.7679,Le four à pain
6,Ponta Do Sol,PT,70.43,few clouds,32.6667,-17.1000,Hotel do Campo
13,Port Hedland,AU,80.65,clear sky,-20.3167,118.5667,The Esplanade Hotel
17,Puerto Ayora,EC,63.55,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
19,Nchelenge,ZM,68.45,scattered clouds,-9.3451,28.7340,KD Travellers Home
22,Surt,LY,76.73,few clouds,31.2089,16.5887,فندق المدينة
25,Vaini,TO,77.16,few clouds,-21.2000,-175.2000,Keleti Beach Resort
28,Manadhoo,MV,80.35,overcast clouds,5.7667,73.3833,Bon Abri maldives
29,Arraial Do Cabo,BR,66.97,overcast clouds,-22.9661,-42.0278,Pousada Porto Praia
30,Kapaa,US,84.18,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [18]:
# Set the file name.
output_data_file = "WeatherPY_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [19]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [20]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Le four à pain</dd>\n<dt>City</dt><dd>Saint-Philippe</dd>\n<dt>Country</dt><dd>RE</dd>\n<dt>Current Weather</dt><dd>light rain and 74.79 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel do Campo</dd>\n<dt>City</dt><dd>Ponta Do Sol</dd>\n<dt>Country</dt><dd>PT</dd>\n<dt>Current Weather</dt><dd>few clouds and 70.43 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>The Esplanade Hotel</dd>\n<dt>City</dt><dd>Port Hedland</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>clear sky and 80.65 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Finch Bay Galapagos Hotel</dd>\n<dt>City</dt><dd>Puerto Ayora</dd>\n<dt>Country</dt><dd>EC</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 63.55 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>KD Travellers Home</dd>\n<dt>City</dt><dd>Nchelenge</dd>\n<dt>Country</dt><dd>ZM</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 68.45 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>فندق المدينة</dd>\n<dt>City</dt><dd>Surt</dd>\n<dt>Country</dt><dd>LY</dd>\n<dt>Current Weather</dt><dd>few clouds and 76.73 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Keleti Beach Resort</dd>\n<dt>City</dt><dd>Vaini</dd>\n<dt>Country</dt><dd>TO</dd>\n<dt>Current Weather</dt><dd>few clouds and 77.16 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Bon Abri maldives</dd>\n<dt>City</dt><dd>Manadhoo</dd>\n<dt>Country</dt><dd>MV</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 80.35 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Pousada Porto Praia</dd>\n<dt>City</dt><dd>Arraial Do Cabo</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 66.97 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Coconut Beach Resort</dd>\n<dt>City</dt><dd>Kapaa</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 84.18 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [21]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
5  -21.3585   55.7679
6   32.6667  -17.1000
13 -20.3167  118.5667
17  -0.7393  -90.3518
19  -9.3451   28.7340
22  31.2089   16.5887
25 -21.2000 -175.2000
28   5.7667   73.3833
29 -22.9661  -42.0278
30  22.0752 -159.3190

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [28]:
# Add a marker layer for each city to the map. 
markers = gmaps.marker_layer(locations,info_box_content = hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure() 
fig.add_layer(markers)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))